if SHIELD_CRATER_LEFT

config ZMK_KEYBOARD_NAME
    default "Crater"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRATER_LEFT || SHIELD_CRATER_RIGHT

    config ZMK_SPLIT
        default y

endif